form{
    margin: 0 auto;
    width: 400px;
    height: 300px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: rgb(237, 241, 250);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
  }

label {
    /* Tamaño y alineación uniforme */
    display: inline-block;
    width: 100px;
    text-align: right;
  
  }

  input{
      width: 60px;
      border-radius: 0.5em;
      outline: none;
  }


button{
    border-radius: 1em;
    margin-left: 45px;
    outline: none;
    background-color: rgb(245, 207, 214);
}
.reset{
  background-color: rgb(247, 172, 144);
  float: right;

}